body {
	margin: 0;
}

.header {
	margin-top: -5px;
}

.nav {
	list-style: none;
	float: right;
}

.nav_items {
	display: inline;
}

.nav_items a {
	color: black;
	text-decoration: none;
	padding-left: 10px;
	font-family: sans-serif;
	font-size: small;
}

.nav_items a:hover{
	text-decoration: underline;
}


.nav_items:last-child{
	padding-right: 20px;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	clear: right;
}

.logo {
	padding-top: 5%;
}

.search {
	padding-top: 20px;
}

.search input {
		width: 525px;
		height: 20px;
		padding: 5px;
		border-width: thin;
		border-style: solid;
		border-color: #d7d7d7;
		border-top-style: outset;
	}

.search input:hover {
	border-color: #bfbfbf;
	border-style: solid;
	border-width: thin;
}

.search_buttons {
	padding: 10px;
}

.search_buttons input {
	color: #474747;
	font-weight: bold;
	font-size: 11px;
	margin: 5px;
	padding: 8px;
	background: #efefef;
	border-style: solid;
	border-radius: 2px;
	border-width: thin;
}

.search_buttons input:hover {
	border-style: outset;
}

footer {
	position: absolute;
	bottom: 0;
	background: #efefef;
	height: 40px;
	width: 100%;
	border-top-color: #d7d7d7;
	border-top-style: solid;
	border-top-width: thin;
}